html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Montserrat", sans-serif;
    background-color: #1DB31D;
}

body {
    width: 640px;
    margin: 0 auto;
    background-color: white;
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    font-size: 50px;
    margin: 0; /* States for all sides, set 0 to cut off automatic spacing on the top of the page */
    padding: 20px 0; /* Top and bottom then left and right */
    color: #1DB31D;
    text-shadow: 3px 3px 1px black; /* Horizontal offset, vertical offset, blur radius, then base color of shadow */
    text-align: center;
}

p, li, a {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
    width: 640px;
}

button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    /* border-radius: 8px; */
    background-color: white;
    border: 2px solid #1DB31D;
    color: black;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #1DB31D;
    color: white;
    cursor: pointer;
}